{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: aliceblue;
    height: ;
}
 .infoHeader{
    padding-top: 15%;
    background-color: black;
 }

 .titulo {
    text-align: center;
    color: aliceblue;
 }

 nav {
    
 }